<div
	class="flex justify-content-center align-content-center align-items-center h-full"
>
	<form [formGroup]="signinForm" (ngSubmit)="signin()">
		<p-card [style]="{ width: '40vw', height: '30vh' }">
			<div class="flex align-items-center justify-content-center">
				<p class="text-3xl m-0 font-bold">Sign In</p>
			</div>
			<!--Email Input-->
			<div class="flex mt-3 align-items-center">
				<span class="p-float-label flex-grow-1">
					<input
						type="text"
						pInputText
						formControlName="email_address"
						class="w-full"
						name="email_address"
					/>
					<label>Email</label>
				</span>
				<div
					*ngIf="
						email_address.invalid &&
						(email_address.dirty || email_address.touched)
					"
				>
					<p-message
						[style.color]="'red'"
						class="font-semibold mb-1"
						*ngIf="email_address.errors?.['required']"
						severity="error"
						text="An email is required."
					/>
					<p-message
						*ngIf="email_address.errors?.['email']"
						[style.color]="'red'"
						class="font-semibold mb-1"
						severity="error"
						text="Enter a valid email."
					/>
				</div>
			</div>

			<!--Password Input-->
			<div class="flex gap-2 mt-5 align-items-center">
				<span class="p-float-label flex-grow-1">
					<input
						type="password"
						pInputText
						formControlName="password"
						class="w-full"
						name="password"
					/>
					<label>Password</label>
				</span>
				<div
					*ngIf="
						password.invalid && (password.dirty || password.touched)
					"
				>
					<p-message
						*ngIf="email_address.errors?.['required']"
						[style.color]="'red'"
						class="font-semibold mb-1"
						severity="error"
						text="A password is required."
					/>
				</div>
			</div>
			<div
				*ngIf="errorMessage"
				[style.color]="'red'"
				class="font-semibold mb-1"
			>
				{{ errorMessage }}
			</div>
			<ng-template pTemplate="footer">
				<div
					class="flex flex-column justify-content-center align-items-center text-lg opacity-70"
				>
					<button
						pButton
						[style]="{ width: '100%' }"
						label="Sign-In"
						class="flex mt-3 mb-1 p-button-rounded"
						[disabled]="signinForm.invalid"
						type="submit"
					></button>
					<div>Don't have an account?</div>
					<div class="flex flex-row">
						click
						<div
							[routerLink]="['/signup']"
							style="
								cursor: pointer;
								margin-left: 5px;
								margin-right: 5px;
								text-decoration: none;
								color: var(--primary-color);
								font-weight: 800;
								font-size: large;
							"
						>
							here
						</div>
						to sign-up instead.
					</div>
				</div>
			</ng-template>
		</p-card>
	</form>
</div>
