<div
	[style.background-color]="'var(--primary-color)'"
	[style.background]="
		'linear-gradient(120deg, var(--primary-600) 0%, var(--primary-400) 100%)'
	"
>
	<p-toolbar
		[style]="{
			border: 'none',
			'background-color': 'transparent',
		}"
	>
		<ng-template pTemplate="start">
			<div [routerLink]="['/dashboard']">
				<img src="assets/logo-placeholder-image.png" [width]="64" />
			</div>
			<!--      <p-tieredMenu [model]="dummyNavItems" />-->
			<i class="pi pi-align-justify" (click)="menu.toggle($event)"></i>
			<p-tieredMenu
				#menu
				[model]="dummyNavItems"
				[popup]="true"
				appendTo="body"
			/>
		</ng-template>
		<ng-template pTemplate="end">
			<div *ngIf="!loggedIn">
				<button
					pButton
					class="p-button-rounded"
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					class="mr-1"
					label="Sign-Up"
					icon="pi pi-user"
					[routerLink]="['/signup']"
				></button>
				<button
					pButton
					class="p-button-rounded"
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					label="Sign-In"
					icon="pi pi-sign-in"
					[routerLink]="['/signin']"
				></button>
			</div>
			<div *ngIf="loggedIn">
				<button
					pButton
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
						color: textColor(),
					}"
					*ngIf="loggedIn"
					icon="pi pi-user"
					class="p-button-rounded"
					(click)="op.toggle($event)"
				></button>
			</div>
			<p-overlayPanel #op [style]="{ 'min-width': '22rem' }">
				<div *ngIf="loggedIn" class="flex flex-row">
					<div class="flex align-items-center gap-3">
						<i
							class="pi pi-user text-4xl"
							[style.color]="'var(--primary-color)'"
						></i>

						<div class="flex flex-column">
							<p class="font-bold text-md m-0">
								{{
									loggedInUser?.first_name +
										' ' +
										loggedInUser?.last_name
								}}
							</p>
							<p class="text-md m-0">
								{{ loggedInUser?.email_address }}
							</p>
						</div>
					</div>
				</div>

				<p-divider *ngIf="loggedIn" />
				<div class="flex justify-content-between gap-2 mt-1">
					<p-button
						[rounded]="true"
						[outlined]="true"
						[label]="isDarkMode ? 'Light' : 'Dark'"
						[icon]="themeIcon()"
						(click)="swapTheme()"
					/>
					<p-button
						[rounded]="true"
						[outlined]="true"
						*ngIf="loggedIn"
						label="Sign-Out"
						icon="pi pi-sign-out"
						(click)="signOut()"
					/>
					<p-button
						[rounded]="true"
						[outlined]="true"
						*ngIf="loggedIn"
						icon="pi pi-cog"
						[pTooltip]="'Settings'"
						[tooltipPosition]="'left'"
						[routerLink]="['/settings']"
					/>
				</div>
			</p-overlayPanel>
		</ng-template>
	</p-toolbar>
</div>
