<div>
	<div
		class="flex flex-row flex-container justify-content-between align-items-center"
		[style.background-color]="'var(--primary-color)'"
		[style.background]="
			'linear-gradient(120deg, var(--primary-600) 0%, var(--primary-400) 100%)'
		"
	>
		<div [routerLink]="['/dashboard']">
			<div
				class="text-5xl font-bold ml-2"
				[style.color]="'var(--primary-color-text)'"
			>
				Placeholder
			</div>
		</div>
		<p-toolbar
			[style]="{ border: 'none', 'background-color': 'transparent' }"
		>
			<div *ngIf="!loggedIn">
				<p-button
					[rounded]="true"
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					class="mr-1"
					label="Sign-Up"
					icon="pi pi-user"
					[routerLink]="['/signup']"
				/>
				<p-button
					[rounded]="true"
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					label="Sign-In"
					icon="pi pi-sign-in"
					[routerLink]="['/signin']"
				/>
			</div>
			<div *ngIf="loggedIn">
				<p-button
					[rounded]="true"
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					*ngIf="loggedIn"
					icon="pi pi-home"
					class="mr-2"
					[routerLink]="['/dashboard']"
				/>
				<p-button
					[style]="{
						'background-color': 'transparent',
						'border-color': 'transparent',
					}"
					*ngIf="loggedIn"
					icon="pi pi-user"
					[rounded]="true"
					(click)="op.toggle($event)"
				/>
			</div>
			<p-overlayPanel #op [style]="{ 'min-width': '22rem' }">
				<div *ngIf="loggedIn" class="flex flex-row">
					<div class="flex align-items-center gap-3">
						<i
							class="pi pi-user text-4xl"
							[style.color]="'var(--primary-color)'"
						></i>

						<div class="flex flex-column">
							<p class="font-bold text-md m-0">
								{{
									loggedInUser?.first_name +
										' ' +
										loggedInUser?.last_name
								}}
							</p>
							<p class="text-md m-0">
								{{ loggedInUser?.email_address }}
							</p>
						</div>
					</div>
				</div>

				<p-divider *ngIf="loggedIn" />
				<div class="flex justify-content-between gap-2 mt-1">
					<p-button
						[rounded]="true"
						[outlined]="true"
						[label]="isDarkMode ? 'Dark' : 'Light'"
						[icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
						(click)="swapTheme()"
					/>
					<p-button
						[rounded]="true"
						[outlined]="true"
						*ngIf="loggedIn"
						label="Sign-Out"
						icon="pi pi-sign-out"
						(click)="signOut()"
					/>
					<p-button
						[rounded]="true"
						[outlined]="true"
						*ngIf="loggedIn"
						icon="pi pi-cog"
						[pTooltip]="'Settings'"
						[tooltipPosition]="'left'"
						[routerLink]="['/settings']"
					/>
				</div>
			</p-overlayPanel>
		</p-toolbar>
	</div>
</div>
